In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 95.0.4638
[WDM] - Get LATEST driver version for 95.0.4638
[WDM] - Driver [/Users/jassjones/.wdm/drivers/chromedriver/mac64/95.0.4638.54/chromedriver] found in cache

In [3]:
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
html = browser.html
soup =  BeautifulSoup(html, 'html.parser')

In [5]:
news_title = soup.find('div', class_= 'content_title').text
news_p = soup.find('div', class_= 'article_teaser_body').text
print(news_title +":")
print(news_p)

NASA Wins Two Emmy Awards for Interactive Mission Coverage:
NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy.

In [6]:
url2 = "https://spaceimages-mars.com"
browser.visit(url2)

In [7]:
html2 = browser.html
soup2 = BeautifulSoup(html2, 'html.parser')

In [8]:
image = soup2.find('img', class_= 'headerimage fade-in').get('src')
featured_image_url= ("https://spaceimages-mars.com/"+image)
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

In [9]:
url3 = "https://galaxyfacts-mars.com"

In [10]:
tables = pd.read_html(url3)[0]
tables.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [11]:
tables = tables.rename(columns={0:'', 1:'Mars', 2:'Earth'})
tables = tables.set_index('')
tables.head()

                                    Mars            Earth

Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km

In [12]:
tables.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
url4 = "https://marshemispheres.com/"
browser.visit(url4)

In [14]:
hemisphere = []

for x in range(4):
    browser.links.find_by_partial_text('Hemisphere')[x].click()
    html4 = browser.html
    soup4 = BeautifulSoup(html4, 'html.parser')
    titles = soup4.find('h2', class_= 'title').get_text()
    images = soup4.find('li').a.get('href')
    hemispher_info = {}
    hemispher_info['titel'] = titles
    hemispher_info['image_url'] = ("https://marshemispheres.com/"+images)
    hemisphere.append(hemispher_info)
    browser.back()

In [15]:
print(hemisphere)

[{'titel': 'Cerberus Hemisphere Enhanced', 'image_url': 'https://marshemispheres.com/images/full.jpg'}, {'titel': 'Schiaparelli Hemisphere Enhanced', 'image_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'}, {'titel': 'Syrtis Major Hemisphere Enhanced', 'image_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}, {'titel': 'Valles Marineris Hemisphere Enhanced', 'image_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]